<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<configuration>
	<!--
		In this file we're configurating the logging
		levels of our loggers. 
	-->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="sc" level="INFO" />
	<logger name="ownlog" level="INFO" /> <!-- Enable DEBUG logging when needed -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>